
.boardListContainer {
    width: 90%;
    height: 85%;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.boardCard {
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    color: red;
    border: solid 1px black;
    border-radius: 3px;
    margin-bottom: 16px;
    width: 100%;
    height: 300px;
}

.title {
    color: black;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    border-bottom: solid 2px gray;
    padding-bottom: 4px;
}

.title:hover {
    color: var(--deep-blue);
}

.content {
    font-size: 16px;
    color: black;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--cloud-white);
    padding: 10px;
    border: 1px solid rgba(140, 129, 129, 1);
    border-radius: 5px;
    margin: 5px 0;
    transition: background-color 0.2s ease;
    
    
}


.content:hover {
    cursor: pointer;
    background-color: #f0f0f0;
}

.content > div{
    display: flex;
    justify-content: end;
    color: #a6a6a6;
    opacity: 1;
}

.comunity {
    width: 100%;
    display: flex;
    align-items: start;
}

.pageName {
    margin: 20px 0px;
    font-size: 30px;
    font-weight: bold;
}

.forScroll{
    max-height: 300px; /* 내용이 이 높이를 넘어가면 스크롤바가 나타납니다. */
    overflow-y: auto; /* 세로 스크롤바를 활성화합니다. */
}


.deleteButton {
    width: 80px;
      background-color: var(--primary-red); /* 추천 버튼의 배경색 */
      color: #fff; /* 텍스트 색상 */
      border: none;
      border-radius: 4px;
      cursor: pointer;
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 13px;
      justify-content: center;
      transition: background-color 0.3s ease;
      margin-left: 10px;
  
    &:hover {
      background-color: var(--deep-red); /* 마우스 오버시 배경색 변경 */
    }
  }