.commentBox {
    padding: 3px;
    margin-top: 10px;
    border-bottom: solid 1px gray;
}

.commentBox_head {
    display: flex;
    margin-bottom: 10px;
    font-weight: bold;
}

.date {
    font-size: 0.9rem;
    opacity: 0.5;
}