.form {
    display: flex;
    flex-direction: column;
    width: 90%;

}

.input {
    height: 150px;
    margin-bottom: 10px;
    font-size: 1rem;
    padding: 12px 20px;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
}
.button {
    width: 100px;
    background-color: var(--primary-blue); /* 추천 버튼의 배경색 */
  color: #fff; /* 텍스트 색상 */
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--deep-blue); /* 마우스 오버시 배경색 변경 */
  }
}

.buttonDiv {
    display: flex;
    justify-content: end;
}