
.search {
    display: flex;
    align-items: center;
    position: relative;
    width: 300px;
  }
  
  .inputcolor {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;

  }

  
  .searchIcon {
    position : absolute;
    width: 20px;
    height: 20px;
    right: 3px;
    margin: 0;
  }

  .button {
    width: 100px;
    height: 40px;
    background-color: var(--primary-blue); /* 추천 버튼의 배경색 */
    color: #fff; /* 텍스트 색상 */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--deep-blue); /* 마우스 오버시 배경색 변경 */
    }
  }

  .bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.inputcolor:focus {
  outline:2px solid var(--primary-blue);
  border: none;
}
