
.container{
    width: 90%;
    background-color: var(--cloud-white);
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    padding: 10px;
}

.boardCard {
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    color: red;
    border: solid 1px black;
    border-radius: 3px;
    margin-bottom: 16px;
    width: 90%;
    height: 300px;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .pagination li {
    margin: 0 5px;
  }
  
  .pagination a {
    text-decoration: none;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
  }
  
  .pagination .active a {
    background-color: #555;
  }