.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

}

.bottom {
    display: flex;
    width: 90%;
    justify-content: space-between;
}


.search {
    position: relative;
    width: 200px;
  }
  
  .input {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
  }
  
  .searchIcon {
    position : absolute;
    width: 17px;
    top: 10px;
    right: -10px;
    margin: 0;
  }

  .button {
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #bbb;
    border-color: #bbb;
  }
  .button:hover {
        color: white;
        background-color: black;
        border-color: black;

  }