
.container{
    width: 90%;
    background-color: var(--cloud-white);
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 9px 11px 18px 1px rgba(140,129,129,1);
}

.content {
  width: 90%;
}



.title {
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0px;
}


.content ul {
  list-style: none;
  padding: 0;
}

.content li {
  margin: 10px 0;
}
.bottom {
    display: flex;
    width: 90%;
    justify-content: space-between;
}


.search {
    position: relative;
    width: 200px;
  }
  
  .input {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
  }
  
  .searchIcon {
    position : absolute;
    width: 17px;
    height: 17px;
    top: 10px;
    right: -10px;
    margin: 0;
  }

  .button {
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #bbb;
    border-color: #bbb;
  }
  .button:hover {
        color: white;
        background-color: black;
        border-color: black;

  }
  .boardCard {
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    color: red;
    border: solid 1px black;
    border-radius: 3px;
    margin-bottom: 16px;
    width: 90%;
    height: 300px;
}

.pagination {

    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    padding: 0;
  }
  
  .pagination li {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .pagination li.active {
    background-color: #007bff;
    color: #fff;
    
  }
 

  .postlink {
    text-decoration: none; /* 링크 밑줄 제거 */
    display: block; /* 블록 요소로 변경 */
    border: 1px solid #ccc; /* 테두리 스타일 및 색상 설정 */
    padding: 10px; /* 내부 여백 추가 */
    margin-bottom: -1px; /* 아래쪽 마진 추가 (필요에 따라 조절) */
    box-sizing: border-box;
  
  }
  
  .postlink:hover {
    background-color: #f0f0f0; /* 호버 시 배경색 변경 (선택 사항) */
  }

  .postlink:hover h2 {
    color: var(--deep-blue);
  }

  .postContent{
    display: flex;
    justify-content: space-between;
  }

  .postContent h2{
    font-size: 20px;
    font-weight: bold;
  }

  .postinfo {
    display: flex;
    align-items: center;
  
  }
