.boardCard {
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    color: red;
    border: solid 1px black;
    border-radius: 3px;
    margin-bottom: 16px;
    width: 90%;
    height: 300px;
}