img {
    width: 100%;
    height: 450px;
    border-radius: 1rem;
    margin-bottom: 10px;
}


.maincontent {
    width: 300vw;
}
.overflow {
    overflow: hidden;
    transition: transform 0.5s;
}

.imageContainer{
    position: relative;
    width: 100vw;
    display: inline-block;
}

.shortcutButton {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 200px;
    height: 50px;
    bottom: 20px; /* 하단에 배치 */
    left: 20px; /* 좌측에 배치 */
    background-color: white; /* 배경색 설정 */
    color: black; /* 텍스트 색상 설정 */
    padding: 10px 10px; /* 내부 여백 설정 */
    border-radius: 100rem; /* 둥근 모서리 설정 (선택 사항) */
    cursor: pointer; /* 커서 스타일 설정 (선택 사항) */
    text-decoration: none; /* 밑줄 제거 (선택 사항) */
    font-weight: bold;
    font-size: 2rem;
}
.button {
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin: 5px;
}

.buttonContainer {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selectedButton {
    background-color: var(--primary-blue);
}



/*여기서 부터 커뮤니티*/

.boardListContainer {
    width: 90vw;
    height: 85%;
    flex-direction: row;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.boardCard {
    margin: 0px 10px;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    color: red;
    border: solid 1px black;
    border-radius: 3px;
    width: 100%;
    height: 200px;
}

.title {
    color: black;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    border-bottom: solid 2px gray;
    padding-bottom: 4px;
}

.title:hover {
    color: var(--deep-blue);
}

.content {
    font-size: 14px;
    color: black;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--cloud-white);
    padding: 10px;
    border: 1px solid rgba(140, 129, 129, 1);
    border-radius: 5px;
    margin: 5px 0;
    transition: background-color 0.2s ease;
    
    
}


.content:hover {
    cursor: pointer;
    background-color: #f0f0f0;
}

.content > div{
    display: flex;
    justify-content: end;
    color: #a6a6a6;
    opacity: 1;
}

.comunity {
    width: 100%;
    display: flex;
    align-items: start;
}

.pageName {
    margin: 20px 0px;
    font-size: 30px;
    font-weight: bold;
}

.forScroll{
    max-height: 300px; /* 내용이 이 높이를 넘어가면 스크롤바가 나타납니다. */
    overflow-y: auto; /* 세로 스크롤바를 활성화합니다. */     /* 글자가 자동으로 줄 바꿈되지 않도록 설정 */
    overflow-x: hidden;
  text-overflow: ellipsis; /* 텍스트가 넘칠 경우 "..."으로 대체 */
      
}


.homeComu {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

