.container {
    width: 90%;
    background-color: var(--cloud-white);
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 9px 11px 18px 1px rgba(140,129,129,1);
}
.titleDiv {
    width: 100%;
}
    


.title {
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0px;
}
.content {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    width: 100%;
    
}
.myProfile{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-right: 2px solid  rgba(140,129,129,1); 

    
}

.myProfile img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin: 16px 16px;
}
.myProfile > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.myProfile  h3 {
    font-size: 20px;
    font-weight: bold;
}
.myProfile  p {
    opacity: 70%;
}
.myProfile  button {
    opacity: 70%;
}


.myActives {
    display: flex;
    flex-direction: column;
    padding:10px;
    width: 70%;
}
.myActive {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
    max-height: 300px; /* 스크롤이 필요한 경우 높이 조절 */
    border-radius: 5px;
  }
  
  .myActive h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .itembox {
    background-color: var(--cloud-white);
    padding: 10px;
    border: 1px solid rgba(140, 129, 129, 1);
    border-radius: 5px;
    margin: 5px 0;
    transition: background-color 0.2s ease;
  }

  .myActive {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
    max-height: 300px;
    overflow-y: auto;
  }
  .goToMyInterview {
    display: flex;
    align-items: center;
    height: 50px;
    border: 1px solid black;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    transition: fontsize 0.2s;
  }

  .goToMyInterview:hover {
    font-size: 23px;
    font-weight: bold;
    color: var(--cloud-white);
    justify-content: center;
    background-color: var(--primary-blue);
  }
  
  .myActive h3 {
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
    text-overflow: ellipsis; /* 너무 긴 텍스트의 경우 절삭 및 ... 표시 */
    overflow: hidden;
  }
  
  
  .forScroll {
      overflow-y: auto;
    }
    
.itembox {
    background-color: var(--cloud-white);
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.itembox:hover {
    background-color: #f0f0f0;
}
.itembox button{
    width: 50px;
    background-color: var(--primary-red); /* 추천 버튼의 배경색 */
    color: #fff; /* 텍스트 색상 */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--deep-red); /* 마우스 오버시 배경색 변경 */
  }
}
  
  
  