.container {
  background-color: #fff;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 9px 11px 18px 1px rgba(140,129,129,1);
}

h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0px;
}

.header {
    display: flex;
    padding-bottom: 5px;
    justify-content: space-between;
    margin-top: 5px;
}

.subject {
    font-size: 14px;
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
    margin-top: 5px;
    border-bottom:  solid 0.5px black;
    
}


.content {
    font-size: 14px;
    font-weight: bold;
    height: 300px;
    border: solid 0.5px gray;
}

.answerBox {
    display: flex;
    justify-content: space-between;
}

.goback {
  margin-top: 10px;
  width: 100px;
  height: 30px;
  background-color: var(--primary-blue); /* 추천 버튼의 배경색 */
  color: #fff; /* 텍스트 색상 */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;
  transition: background-color 0.3s ease;

&:hover {
  background-color: var(--deep-blue); /* 마우스 오버시 배경색 변경 */
}
}

