@import 'reset.css';
@tailwind base;
@tailwind utilities;

:root {
  --primary-blue: #A0D3F9; /* 하늘 파란색 */
  --primary-red:#EE8091;
  --deep-red:#B34B5F;
  --cloud-white: #ffffff; /* 구름 흰색 */
  --beach-sand: #f5e7da; /* 해변 모래색 */
  --deep-blue: #2691d9; /* 푸른 바다색 */
}

body {
  background-color: var(--cloud-white);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  min-height: 100vh;
  width: 100vw;
  display: flex;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
